
[1m[46m RUN [49m[22m [36mv4.1.0 [39m[90m/app/frontend[39m

 [32m✓[39m src/components/Service/web3.test.ts [2m([22m[2m2 tests[22m[2m)[22m[32m 6[2mms[22m[39m

[2m Test Files [22m [1m[32m1 passed[39m[22m[90m (1)[39m
[2m      Tests [22m [1m[32m2 passed[39m[22m[90m (2)[39m
[2m   Start at [22m 22:12:59
[2m   Duration [22m 604ms[2m (transform 186ms, setup 0ms, import 396ms, tests 6ms, environment 0ms)[22m
